{% extends 'layout.html' %}
{% block title %} Accueil {% endblock title %}

{% load static %}
{% block CardPlan %}
<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Gestions des utlisateurs</h6>
    <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Arrière plan:</div>
            <a class="dropdown-item" href="#">Blanc</a>
            <a class="dropdown-item" href="#" style="background-color:rgb(72, 155, 25)">Verte</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" style="background-color:black; color: white;">Noire</a>
        </div>
    </div>
</div>
{% endblock CardPlan %}
{% block PlanHome %}
<div class="content" style="margin-left: 5;">


</div>
{% endblock PlanHome %}