{% load static %}

<!-- Then put toasts within -->
<html>
input.checkbox(type="checkbox" checked aria-label="Tick the checkbox to open/close the prompt")

.message_container
.message(augmented-ui="exe tl-clip br-clip")
.title(augmented-ui="exe tl-clip br-clip") Attention
p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo, corporis eum, dolorum sed voluptate tempora unde placeat quas ut adipisci illum ab ea commodi sunt. Dolor dolorum neque facere tempora.

script.
var rsw_powered = {};
rsw_powered["augmented-ui"] = true;

</html>

</html>