{% endblock CardPlan %}
<div class="content" style="margin-left: 5%;">
    <div class="row">
        <div class="col-lg-4 shadow sel chamD" style="height: 250px;">
            Chambre de Daniel &nbsp;<span class="fas fa-bed"></span>
            <div class="border d-flex align-items-center justify-content-center" style="height: 200px;">
                <span class="far fa-lightbulb fa-4x" onclick="lampe_light('lamp1');" id="lamp1" style="color: rgb(213, 223, 204);"></span>
            </div>
        </div>
        <div class="col-lg-1 shadow sel" style="height: 150px;">W.C&nbsp;<span class="fas fa-toilet"></span>
            <div class="border d-flex align-items-center justify-content-center" style="height: 110px;">
                <span class="far fa-lightbulb fa-4x" onclick="lampe_light('lamp2');" id="lamp2" style="color: rgb(213, 223, 204);"></span>
            </div>
        </div>
        <div class="col-lg-5 shadow sel" style="height: 170px;">Chambre de Esther &nbsp;<span class="fas fa-bed"></span>
            <div class="border d-flex align-items-center justify-content-center" style="height: 130px;">
                <span class="far fa-lightbulb fa-4x" onclick="lampe_light('lamp3');" id="lamp3" style="color: rgb(213, 223, 204);"></span>
            </div>
        </div>
        <div class="col-lg-1 sel" style="height: 170px;">W.C&nbsp;<span class="fas fa-toilet"></span>
            <div class="border d-flex align-items-center justify-content-center" style="height: 130px;">
                <span class="far fa-lightbulb fa-4x" onclick="lampe_light('lamp4');" id="lamp4" style="color: rgb(213, 223, 204);"></span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4 shadow sel" style="height: 180px;">Cuisine&nbsp;<span class="fas fa-bone" style="color: red;"></span><span class="fas fa-drumstick-bite  fa-spin" style="color: rgb(250, 96, 7);"></span><span class="fas fa-pepper-hot" style="color: red;"></span>
            <div class="border d-flex align-items-center justify-content-center" style="height: 140px;">
                <span class="far fa-lightbulb fa-4x" onclick="lampe_light('lamp5');" id="lamp5" style="color: rgb(213, 223, 204);"></span>
            </div>
        </div>
        <div class="col-lg-3 shadow sel" style="height: 180px;">Salle à manger&nbsp;<span class="fas fa-utensils"></span>
            <div class="border d-flex align-items-center justify-content-center" style="height: 140px;">
                <span class="far fa-lightbulb fa-4x" onclick="lampe_light('lamp6');" id="lamp6" style="color: rgb(213, 223, 204);"></span>
            </div>
        </div>

        <div class="col-lg-4 shadow sel top_q" style="height: 300px; ">chambre Parent&nbsp;<span class="fas fa-procedures"></span>
            <div class="border d-flex align-items-center justify-content-center" style="height: 250px;">
                <span class="far fa-lightbulb fa-4x" onclick="lampe_light('lamp7');" id="lamp7" style="color: rgb(213, 223, 204);"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 shadow sel top_Q" style="height: 300px;">Salon&nbsp;<span class="fas fa-tv"></span><span class="fas fa-chair"></span>
            <div class="border d-flex align-items-center justify-content-center" style="height: 260px;">
                <span class="far fa-lightbulb fa-4x" onclick="lampe_light('lamp8');" id="lamp8" style="color: rgb(213, 223, 204);"></span>
            </div>

        </div>

    </div>

</div>
{% endblock PlanHome %}